In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandasql as ps

In [2]:
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [3]:
df[df['customerID']=='5709-LVOEQ']

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No

In [4]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.shape

(7043, 21)

In [6]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [7]:
#Total charges which looks to be a float, is read as an object. So need to change the data type of the column

In [8]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [9]:
df['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce')

In [10]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [11]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7032.000000
mean        0.162147    32.371149       64.761692   2283.300441
std         0.368612    24.559481       30.090047   2266.771362
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.850000   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

In [12]:
df[df['TotalCharges'].isnull()]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [13]:
df.isnull().values.sum()

11

In [14]:
ps.sqldf("select distinct(Churn) from df where TotalCharges is null")

  Churn
0    No

In [15]:
ps.sqldf("select Churn,count(Churn) from df group by Churn ")

  Churn  count(Churn)
0    No          5174
1   Yes          1869

In [16]:
missing_df = df[['MonthlyCharges','tenure','TotalCharges']]

In [17]:
pred_df = missing_df[missing_df['TotalCharges'].isnull()]

In [18]:
pred_df

      MonthlyCharges  tenure  TotalCharges
488            52.55       0           NaN
753            20.25       0           NaN
936            80.85       0           NaN
1082           25.75       0           NaN
1340           56.05       0           NaN
3331           19.85       0           NaN
3826           25.35       0           NaN
4380           20.00       0           NaN
5218           19.70       0           NaN
6670           73.35       0           NaN
6754           61.90       0           NaN

In [19]:
missing_df = missing_df.dropna()

In [20]:
miss_X =missing_df[['tenure','MonthlyCharges']]
miss_Y=missing_df[['TotalCharges']]

In [21]:
from sklearn.model_selection import train_test_split

miss_X_Train,miss_X_Test,miss_Y_Train,miss_Y_Test = train_test_split(miss_X,miss_Y, test_size=0.3, random_state=42)

In [22]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(miss_X_Train, miss_Y_Train)

In [23]:
reg.score(miss_X_Train, miss_Y_Train)

0.8928064387964467

In [24]:
reg.coef_

array([[65.06750258, 35.84563995]])

In [25]:
reg.intercept_

array([-2152.42295119])

In [26]:
reg.predict(miss_X_Test)

array([[2712.83570478],
       [ -30.75309554],
       [2358.67126672],
       ...,
       [1638.79300692],
       [ 169.51670664],
       [5671.73705228]])

In [27]:
miss_Y_Test

      TotalCharges
2481       1501.75
6784        465.85
6125       1359.00
3052       2030.75
4099        161.45
...            ...
2763       5135.35
6747       1958.95
1700        943.00
1099        259.40
4720       6688.10

[2110 rows x 1 columns]

In [28]:
from sklearn import svm

regr1 = svm.SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
regr1.fit(miss_X_Train,miss_Y_Train)
regr4 = svm.SVR()
regr4.fit(miss_X_Train,miss_Y_Train)
regr2 = svm.SVR(kernel='linear')
regr2.fit(miss_X_Train,miss_Y_Train)
regr3 = svm.SVR(kernel='poly')
regr3.fit(miss_X_Train,miss_Y_Train)

C:\Users\Aravind\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Aravind\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Aravind\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Aravind\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR(kernel='poly')

In [29]:
pred1 = regr1.predict(miss_X_Test)
pred2 = regr2.predict(miss_X_Test)
pred3 = regr3.predict(miss_X_Test)
pred4 = regr4.predict(miss_X_Test)

In [30]:
# pred = regr.predict(miss_X_Test)

In [31]:
# regr.predict(miss_X_Test)

In [32]:
# regr.predict(miss_X_Test)

In [33]:
from sklearn import metrics
# model evaluation for testing set

mae = metrics.mean_absolute_error(miss_Y_Test, pred1)
mse = metrics.mean_squared_error(miss_Y_Test, pred1)
r2 = metrics.r2_score(miss_Y_Test, pred1)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('MSE is {}'.format(mse))
print('R2 score is {}'.format(r2))

The model performance for testing set
--------------------------------------
MAE is 301.6741964705121
MSE is 398165.48838315374
R2 score is 0.92326278371227

In [34]:
from sklearn import metrics
# model evaluation for testing set

mae = metrics.mean_absolute_error(miss_Y_Test, pred2)
mse = metrics.mean_squared_error(miss_Y_Test, pred2)
r2 = metrics.r2_score(miss_Y_Test, pred2)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('MSE is {}'.format(mse))
print('R2 score is {}'.format(r2))

The model performance for testing set
--------------------------------------
MAE is 555.1876269313857
MSE is 561833.9041715725
R2 score is 0.8917194707224207

In [35]:
from sklearn import metrics
# model evaluation for testing set

mae = metrics.mean_absolute_error(miss_Y_Test, pred3)
mse = metrics.mean_squared_error(miss_Y_Test, pred3)
r2 = metrics.r2_score(miss_Y_Test, pred3)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('MSE is {}'.format(mse))
print('R2 score is {}'.format(r2))

The model performance for testing set
--------------------------------------
MAE is 279.3124534225812
MSE is 135811.95228583683
R2 score is 0.973825377987084

In [36]:
from sklearn import metrics
# model evaluation for testing set

mae = metrics.mean_absolute_error(miss_Y_Test, pred4)
mse = metrics.mean_squared_error(miss_Y_Test, pred4)
r2 = metrics.r2_score(miss_Y_Test, pred4)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('MSE is {}'.format(mse))
print('R2 score is {}'.format(r2))

The model performance for testing set
--------------------------------------
MAE is 1094.2374459563316
MSE is 2920685.8802622696
R2 score is 0.437105146876694

In [37]:

# y = dataset.iloc[:, 2].values

In [38]:
missing_df.head()

   MonthlyCharges  tenure  TotalCharges
0           29.85       1         29.85
1           56.95      34       1889.50
2           53.85       2        108.15
3           42.30      45       1840.75
4           70.70       2        151.65

In [39]:
X = miss_X_Train.values
X

array([[ 9.  , 58.5 ],
       [26.  , 61.55],
       [ 3.  , 69.95],
       ...,
       [ 9.  , 81.15],
       [50.  , 19.75],
       [20.  , 73.65]])

In [40]:
y = miss_Y_Train.values
y

array([[ 539.85],
       [1581.95],
       [ 220.45],
       ...,
       [ 784.45],
       [ 989.05],
       [1463.5 ]])

In [41]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y)

In [42]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'poly')
regressor.fit(X, y)

C:\Users\Aravind\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR(kernel='poly')

In [43]:
y_pred = regressor.predict(sc_X.fit_transform(miss_X_Test.values))
y_pred = sc_y.inverse_transform(y_pred)

In [44]:
y_pred

array([1757.53259406,  859.36696696, 2730.04949489, ...,  514.468277  ,
        570.00205475, 5258.63049044])

In [45]:
from sklearn import metrics
# model evaluation for testing set

mae = metrics.mean_absolute_error(miss_Y_Test, y_pred)
mse = metrics.mean_squared_error(miss_Y_Test, y_pred)
r2 = metrics.r2_score(miss_Y_Test, y_pred)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('MSE is {}'.format(mse))
print('R2 score is {}'.format(r2))

The model performance for testing set
--------------------------------------
MAE is 704.0833228921281
MSE is 796887.582015342
R2 score is 0.8464182945979687

In [46]:
pred_df.iloc[:,0:2].values

array([[52.55,  0.  ],
       [20.25,  0.  ],
       [80.85,  0.  ],
       [25.75,  0.  ],
       [56.05,  0.  ],
       [19.85,  0.  ],
       [25.35,  0.  ],
       [20.  ,  0.  ],
       [19.7 ,  0.  ],
       [73.35,  0.  ],
       [61.9 ,  0.  ]])

In [47]:
missing_pred = regr3.predict(pred_df.iloc[:,0:2].values)

In [48]:
missing_pred

array([ 709.32972037,  421.02086707, 1517.22696548,  439.50224053,
        774.59306125,  420.00425699,  437.85141213,  420.38073641,
        419.63342467, 1235.15260516,  903.3287577 ])

In [49]:
df.loc[ 488 , : ]['TotalCharges'] = 709.32972037

C:\Users\Aravind\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
df[df['TotalCharges'].isnull()]['TotalCharges'] = missing_pred

C:\Users\Aravind\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:

df.at[ 488 ,'TotalCharges'] = 709.32972037
df.at[ 753 ,'TotalCharges'] = 421.02086707
df.at[ 936 ,'TotalCharges'] = 1517.22696548
df.at[ 1082 ,'TotalCharges'] = 439.50224053
df.at[ 1340 ,'TotalCharges'] = 774.59306125
df.at[ 3331 ,'TotalCharges'] = 420.00425699
df.at[ 3826 ,'TotalCharges'] = 437.85141213
df.at[ 4380 ,'TotalCharges'] = 420.38073641
df.at[ 5218 ,'TotalCharges'] = 419.6334246
df.at[ 6670 ,'TotalCharges'] = 1235.15260516
df.at[ 6754 ,'TotalCharges'] = 903.3287577

In [52]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [53]:
ps.sqldf('select distinct(Partner) from df')

  Partner
0     Yes
1      No

In [54]:
ps.sqldf('select distinct(Dependents) from df')

  Dependents
0         No
1        Yes

In [55]:
ps.sqldf('select distinct(SeniorCitizen) from df')

   SeniorCitizen
0              0
1              1

In [56]:
ps.sqldf('select distinct(PhoneService) from df')

  PhoneService
0           No
1          Yes

In [57]:
ps.sqldf('select distinct(MultipleLines) from df')

      MultipleLines
0  No phone service
1                No
2               Yes

In [58]:
ps.sqldf('select distinct(InternetService) from df')

  InternetService
0             DSL
1     Fiber optic
2              No

In [59]:
ps.sqldf('select distinct(OnlineSecurity) from df')

        OnlineSecurity
0                   No
1                  Yes
2  No internet service

In [60]:
ps.sqldf('select distinct(OnlineBackup) from df')

          OnlineBackup
0                  Yes
1                   No
2  No internet service

In [61]:
ps.sqldf('select distinct(DeviceProtection) from df')

      DeviceProtection
0                   No
1                  Yes
2  No internet service

In [62]:
ps.sqldf('select distinct(TechSupport) from df')

           TechSupport
0                   No
1                  Yes
2  No internet service

In [63]:
ps.sqldf('select distinct(StreamingTV) from df')

           StreamingTV
0                   No
1                  Yes
2  No internet service

In [64]:
ps.sqldf('select distinct(StreamingMovies) from df')

       StreamingMovies
0                   No
1                  Yes
2  No internet service

In [65]:
ps.sqldf('select distinct(Contract) from df')

         Contract
0  Month-to-month
1        One year
2        Two year

In [66]:
ps.sqldf('select distinct(PaperlessBilling) from df')

  PaperlessBilling
0              Yes
1               No

In [67]:
ps.sqldf('select distinct(PaymentMethod) from df')

               PaymentMethod
0           Electronic check
1               Mailed check
2  Bank transfer (automatic)
3    Credit card (automatic)

In [68]:
ps.sqldf('select distinct(Gender) from df')

   gender
0  Female
1    Male

In [69]:
ps.sqldf('select Churn, count(Churn) from df group by Churn')

  Churn  count(Churn)
0    No          5174
1   Yes          1869

In [70]:
ps.sqldf('select distinct(customerID) from df')

      customerID
0     7590-VHVEG
1     5575-GNVDE
2     3668-QPYBK
3     7795-CFOCW
4     9237-HQITU
...          ...
7038  6840-RESVB
7039  2234-XADUH
7040  4801-JZAZL
7041  8361-LTMKD
7042  3186-AJIEK

[7043 rows x 1 columns]

In [71]:
processed = df.iloc[:,1:]

In [72]:
processed.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [73]:
processed.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [74]:
cat_columns_drop = [   
        'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract',  'PaymentMethod']
cols= ['gender','Partner','PhoneService', 'Dependents','PaperlessBilling']
processed_dummies = pd.get_dummies(data=processed,columns=cat_columns_drop,drop_first=True)

In [75]:
processed_dummies = pd.get_dummies(data=processed_dummies,columns=cols)

In [76]:
processed_dummies.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,...,gender_Female,gender_Male,Partner_No,Partner_Yes,PhoneService_No,PhoneService_Yes,Dependents_No,Dependents_Yes,PaperlessBilling_No,PaperlessBilling_Yes
0,0,1,29.85,29.85,No,1,0,0,0,0,...,1,0,0,1,1,0,1,0,0,1
1,0,34,56.95,1889.50,No,0,0,0,0,0,...,0,1,1,0,0,1,1,0,1,0
2,0,2,53.85,108.15,Yes,0,0,0,0,0,...,0,1,1,0,0,1,1,0,0,1
3,0,45,42.30,1840.75,No,1,0,0,0,0,...,0,1,1,0,1,0,1,0,1,0
4,0,2,70.70,151.65,Yes,0,0,1,0,0,...,1,0,1,0,0,1,1,0,0,1

In [77]:
processed_dummies.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes',
       'PhoneService_No', 'PhoneService_Yes', 'Dependents_No',
       'Dependents_Yes', 'PaperlessBilling_No', 'PaperlessBilling_Yes'],
      dtype='object')

In [153]:
##Normalisation

# from sklearn.preprocessing import MinMaxScaler

# zscalar = MinMaxScaler()
# norm_df = pd.DataFrame(zscalar.fit_transform(processed_dummies[[ 'tenure', 'MonthlyCharges', 'TotalCharges']]),columns=[ 'tenure', 'MonthlyCharges', 'TotalCharges'])

In [139]:
# (norm_df)

        tenure  MonthlyCharges  TotalCharges
0    -1.277445       -1.160323     -0.993481
1     0.066327       -0.259629     -0.172714
2    -1.236724       -0.362660     -0.958923
3     0.514251       -0.746535     -0.194230
4    -1.236724        0.197365     -0.939724
...        ...             ...           ...
7038 -0.340876        0.665992     -0.128138
7039  1.613701        1.277533      2.243000
7040 -0.870241       -1.168632     -0.853748
7041 -1.155283        0.320338     -0.871336
7042  1.369379        1.358961      2.014201

[7043 rows x 3 columns]

In [154]:
# addcol = processed_dummies[['SeniorCitizen',  'Churn',
#        'MultipleLines_No phone service', 'MultipleLines_Yes',
#        'InternetService_Fiber optic', 'InternetService_No',
#        'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
#        'OnlineBackup_No internet service', 'OnlineBackup_Yes',
#        'DeviceProtection_No internet service', 'DeviceProtection_Yes',
#        'TechSupport_No internet service', 'TechSupport_Yes',
#        'StreamingTV_No internet service', 'StreamingTV_Yes',
#        'StreamingMovies_No internet service', 'StreamingMovies_Yes',
#        'Contract_One year', 'Contract_Two year',
#        'PaymentMethod_Credit card (automatic)',
#        'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
#        'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes',
#        'PhoneService_No', 'PhoneService_Yes', 'Dependents_No',
#        'Dependents_Yes', 'PaperlessBilling_No', 'PaperlessBilling_Yes']]
# type(addcol)

pandas.core.frame.DataFrame

In [155]:
# norm_df = pd.concat([norm_df,addcol],axis=1)
# norm_df

,tenure,MonthlyCharges,TotalCharges,SeniorCitizen,Churn,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,...,gender_Female,gender_Male,Partner_No,Partner_Yes,PhoneService_No,PhoneService_Yes,Dependents_No,Dependents_Yes,PaperlessBilling_No,PaperlessBilling_Yes
0,0.013889,0.115423,0.001275,0,No,1,0,0,0,0,...,1,0,0,1,1,0,1,0,0,1
1,0.472222,0.385075,0.215867,0,No,0,0,0,0,0,...,0,1,1,0,0,1,1,0,1,0
2,0.027778,0.354229,0.010310,0,Yes,0,0,0,0,0,...,0,1,1,0,0,1,1,0,0,1
3,0.625000,0.239303,0.210241,0,No,1,0,0,0,0,...,0,1,1,0,1,0,1,0,1,0
4,0.027778,0.521891,0.015330,0,Yes,0,0,1,0,0,...,1,0,1,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0.333333,0.662189,0.227521,0,No,0,1,0,0,0,...,0,1,0,1,0,1,0,1,0,1
7039,1.000000,0.845274,0.847461,0,No,0,1,1,0,0,...,1,0,0,1,0,1,0,1,0,1
7040,0.152778,0.112935,0.037809,0,No,1,0,0,0,0,...,1,0,0,1,1,0,0,1,0,1
7041,0.055556,0.558706,0.033210,1,Yes,0,1,1,0,0,...,0,1,0,1,0,1,1,0,0,1
7042,0.916667,0.869652,0.787641,0,No,0,0,1,0,0,...,0,1,1,0,0,1,1,0,0,1

### TRAIN TEST SPLIT OF PRE PROCESSED DATA

In [78]:
X_train,X_test,y_train,y_test = train_test_split(processed_dummies[['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges', 
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes',
       'PhoneService_No', 'PhoneService_Yes', 'Dependents_No',
       'Dependents_Yes', 'PaperlessBilling_No', 'PaperlessBilling_Yes']],processed_dummies[['Churn']],test_size=0.3,random_state=42)

In [79]:
#normalisation
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
scalar.fit(X_train)
Xnorm_train = scalar.transform(X_train)
Xnorm_test = scalar.transform(X_test)

In [156]:
# Xnorm_train,Xnorm_test,ynorm_train,ynorm_test = train_test_split(norm_df[['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges', 
#        'MultipleLines_No phone service', 'MultipleLines_Yes',
#        'InternetService_Fiber optic', 'InternetService_No',
#        'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
#        'OnlineBackup_No internet service', 'OnlineBackup_Yes',
#        'DeviceProtection_No internet service', 'DeviceProtection_Yes',
#        'TechSupport_No internet service', 'TechSupport_Yes',
#        'StreamingTV_No internet service', 'StreamingTV_Yes',
#        'StreamingMovies_No internet service', 'StreamingMovies_Yes',
#        'Contract_One year', 'Contract_Two year',
#        'PaymentMethod_Credit card (automatic)',
#        'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
#        'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes',
#        'PhoneService_No', 'PhoneService_Yes', 'Dependents_No',
#        'Dependents_Yes', 'PaperlessBilling_No', 'PaperlessBilling_Yes']],norm_df[['Churn']],test_size=0.3,random_state=42)

In [79]:
X_train.shape

(4930, 35)

In [80]:
y_train.shape

(4930, 1)

In [81]:
y_train.to_numpy().reshape(4930,).shape

(4930,)

In [81]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0,max_iter=1000).fit(X_train.to_numpy(), y_train.values.ravel())
clf1 = LogisticRegression(random_state=0,max_iter=1000).fit(Xnorm_train, y_train.values.ravel())

In [82]:
prediction = clf.predict(X_test)
prediction1 = clf1.predict(Xnorm_test)

In [83]:
import sklearn
report = sklearn.metrics.classification_report(y_test, prediction, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
report1 = sklearn.metrics.classification_report(y_test, prediction1, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')

In [84]:
print(report)

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1539
         Yes       0.68      0.56      0.61       574

    accuracy                           0.81      2113
   macro avg       0.76      0.73      0.74      2113
weighted avg       0.80      0.81      0.80      2113

In [85]:
print(report1)

              precision    recall  f1-score   support

          No       0.85      0.90      0.88      1539
         Yes       0.69      0.57      0.62       574

    accuracy                           0.81      2113
   macro avg       0.77      0.74      0.75      2113
weighted avg       0.80      0.81      0.81      2113

In [108]:
from sklearn.svm import SVC

svc = SVC(kernel='rbf',gamma=0.001,C=20)
svc.fit(Xnorm_train,y_train.values.ravel())

SVC(C=20, gamma=0.001)

In [109]:
prediction_svm = svc.predict(Xnorm_test)

In [110]:
report_svm = sklearn.metrics.classification_report(y_test, prediction_svm, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')

In [111]:
print(report_svm)

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1539
         Yes       0.68      0.56      0.61       574

    accuracy                           0.81      2113
   macro avg       0.76      0.73      0.74      2113
weighted avg       0.80      0.81      0.80      2113

In [107]:
print(report_svm)

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1539
         Yes       0.67      0.56      0.61       574

    accuracy                           0.81      2113
   macro avg       0.76      0.73      0.74      2113
weighted avg       0.80      0.81      0.80      2113

In [97]:
print(report_svm)

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1539
         Yes       0.68      0.56      0.61       574

    accuracy                           0.81      2113
   macro avg       0.76      0.73      0.74      2113
weighted avg       0.80      0.81      0.80      2113

In [105]:
print(report_svm)

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1539
         Yes       0.67      0.56      0.61       574

    accuracy                           0.81      2113
   macro avg       0.76      0.73      0.74      2113
weighted avg       0.80      0.81      0.80      2113

In [117]:
from sklearn.linear_model import LogisticRegressionCV

clf_CV = LogisticRegressionCV(cv=10, random_state=0,max_iter=1000).fit(X_train, y_train.values.ravel())
clf_CV1 = LogisticRegressionCV(cv=10, random_state=0,max_iter=1000).fit(Xnorm_train, y_train.values.ravel())

In [118]:
pred_CV = clf_CV.predict(X_test)
pred_CV1 = clf_CV1.predict(Xnorm_test)

In [119]:
report_CV = sklearn.metrics.classification_report(y_test, pred_CV, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
report_CV1 = sklearn.metrics.classification_report(y_test, pred_CV1, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')

In [120]:
print(report_CV)

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1539
         Yes       0.69      0.56      0.62       574

    accuracy                           0.81      2113
   macro avg       0.77      0.73      0.75      2113
weighted avg       0.80      0.81      0.81      2113

In [121]:
print(report_CV1)

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1539
         Yes       0.68      0.57      0.62       574

    accuracy                           0.81      2113
   macro avg       0.77      0.74      0.75      2113
weighted avg       0.80      0.81      0.81      2113

In [94]:
print(report)

              precision    recall  f1-score   support

          No       0.85      0.90      0.87      1539
         Yes       0.68      0.58      0.63       574

    accuracy                           0.81      2113
   macro avg       0.76      0.74      0.75      2113
weighted avg       0.80      0.81      0.81      2113

In [95]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(class_weight={'No':1,'Yes':2.81}).fit(X_train,y_train.values.ravel())

In [96]:
pred_rf  = rf.predict(X_test)

In [97]:
report_rf = sklearn.metrics.classification_report(y_test, pred_rf, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')

In [98]:
print(report_rf)

              precision    recall  f1-score   support

          No       0.82      0.91      0.87      1539
         Yes       0.67      0.46      0.55       574

    accuracy                           0.79      2113
   macro avg       0.75      0.69      0.71      2113
weighted avg       0.78      0.79      0.78      2113

In [99]:
print(report_rf)

              precision    recall  f1-score   support

          No       0.82      0.91      0.87      1539
         Yes       0.67      0.46      0.55       574

    accuracy                           0.79      2113
   macro avg       0.75      0.69      0.71      2113
weighted avg       0.78      0.79      0.78      2113

In [100]:
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators =300,random_state=0)
brf.fit(X_train,y_train)

C:\Users\Aravind\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

BalancedRandomForestClassifier(n_estimators=300, random_state=0)

In [101]:
predbrf = brf.predict(X_test)

In [102]:
report_brf = sklearn.metrics.classification_report(y_test, predbrf, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')

In [103]:
# sklearn.metrics.f1_score(y_test, predbrf,   average='binary', sample_weight=None, zero_division='warn')

In [104]:
print(report_brf)

              precision    recall  f1-score   support

          No       0.92      0.72      0.81      1539
         Yes       0.53      0.82      0.64       574

    accuracy                           0.75      2113
   macro avg       0.72      0.77      0.72      2113
weighted avg       0.81      0.75      0.76      2113

In [105]:
ps.sqldf('select Churn, count(Churn) from y_train group by Churn')

  Churn  count(Churn)
0    No          3635
1   Yes          1295

In [106]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42,scale_pos_weight = 2.8)
xgb_model.fit(X_train, y_train)

C:\Users\Aravind\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\Aravind\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[12:30:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=2.8, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [107]:
xgpredict = xgb_model.predict(X_test)

In [108]:
report_xgb = sklearn.metrics.classification_report(y_test, xgpredict, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')

In [109]:
print(report_xgb)

              precision    recall  f1-score   support

          No       0.87      0.81      0.84      1539
         Yes       0.57      0.69      0.62       574

    accuracy                           0.77      2113
   macro avg       0.72      0.75      0.73      2113
weighted avg       0.79      0.77      0.78      2113

In [116]:
sklearn.metrics.f1_score(y_test,xgpredict,pos_label='Yes')

0.6225374310480694

y_test

In [110]:
# y_test_array = y_test.values
# yy=[]
# for i in range(0,len(y_test_array)):
#     if y_test_array[i][0] == 'No':
#         yy.append(0)
#     else:
#         yy.append(1)
# yy = np.array(yy)

In [111]:
# y_test_array

In [112]:
# prediction_array = prediction
# for i in range(0,len(prediction_array)):
#     if prediction_array[i] == 'No':
#         prediction_array[i] = 0
#     else:
#         prediction_array[i]=1

In [113]:
# sklearn.metrics.log_loss(yy, prediction_array, eps=1e-15, normalize=True, sample_weight=None, labels=None)